@charset "utf-8";

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

/*#footer {*/
/*    text-align: center;*/
/*    font-size: 0.8em;*/
/*    margin-top: 5px;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*    background-color: #FFFFFF;*/
/*    border-top: thin solid #BBBBBB;*/
/*    clear: both;*/
/*    color: #969696;*/
/*}*/


#main {
    width: 1480px;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

#logo {
    padding: 10px;
}