{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
     <li>
         <a href="{{ item.link }}"> {{ item.item }} </a>
     </li>
    {% endfor %}
{% endblock sidenav %}

{% block title %}
    Shopping Cart
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-9">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>{{ cart_items|length }}</strong>) items</span>
                            <h5>Items in your cart</h5>
                        </div>
                        <form method="post" action="{% url 'update_cart' %}">
                            {% csrf_token %}
                            {% for item in cart_items %}
                            <div class="ibox-content">
                                <div class="table">
                                    <table class="table shoping_cart_table">
                                        <tbody>
                                            <tr>
                                                <td width="90">
                                                    <div class="cart-product-imitation">
                                                    </div>
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="{% url 'book_detail' item.book.id %}" class="book-name">
                                                            {{ item.book.name }}
                                                        </a>
                                                    </h3>
                                                    <div class="side-info">
                                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                                        |
                                                        <a href="{% url 'remove_from_cart' item.book.id %}" class="text-muted">
                                                            <i class="fa fa-trash"></i> Remove item</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    ${{ item.book.price }}
                                                </td>
                                                <td width="65">
                                                    <input type="number" name="quantity_{{ item.book.id }}"
                                                           class="form-control" value="{{ item.quantity }}" min="1">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Cart Summary</h5>
                        </div>
                        <div class="ibox-content">
                            <span>Total</span>
                            <h2 class="font-bold">${{ total_price }}</h2>
                            <hr>
                            <span class="text-muted small">*For United States, France and Germany applicable sales tax will be applied</span>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                    <a href="{% url 'checkout' %}" class="btn btn-primary btn-sm">
                                        <i class="fa fa-shopping-cart"></i> Checkout
                                    </a>
                                    {% if is_cart_empty %}
                                    <a href="#" class="btn btn-white btn-sm">Cancel</a>
                                    {% else %}
                                    <a href="{% url 'cancel_cart' %}" class="btn btn-white btn-sm">Cancel</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Support</h5>
                        </div>
                        <div class="ibox-content text-center">
                            <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                            <span class="small">Please contact with us if you have any questions. We are available 24h.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}