{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
     <li>
         <a href="{{ item.link }}"> {{ item.item }} </a>
     </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 style="margin-bottom:50px; font-family: Georgia;" align="center" >Display Books Page</h1>
<table align="center" border="15" width="600">
    <tr>
        <th>
            <h3 style="margin-bottom:20px; margin-top:20px; font-family: Georgia;" align="center">Name</h3>
        </th>
        <th>
            <h3 style="margin-bottom:20px; margin-top:20px; font-family: Georgia;" align="center" >Picture</h3>
        </th>
    </tr>
    {% for book in books %}
     <tr>
         <td align="center">
             <a href="book_detail/{{ book.id }}" style="text-decoration:none">
                {{ book.name }}
             </a>
         </td>
         <td>
             <div align="center" style="margin-top:15px"  vertical-align="">
                 <img src="{% static book.pic_path %}" height="50"/>
             </div>
            <div align="center" style="margin-top:10px">

            <a href="{% url 'add_comment' book_id=book.id %}" style="text-decoration:none; margin-bottom:20px"
               type="button" class="btn btn-outline-warning" >
                Add Comment
            </a>
            <a href="{% url 'displaycom' book_id=book.id %}" style="text-decoration:none; margin-bottom:20px"
             type="button" class="btn btn-outline-info">
                View Comments</a>
            </div>
         </td>
     </tr>
    {% endfor %}
</table>
{% endblock content %}