{% extends "base.html" %}
{% load static %}


{% block sidenav %}
    {% for item in item_list %}
    <li>
       <a href="{{item.link}}">    {{ item.item }}</a>
    </li>
    {% endfor %}

{% endblock sidenav %}

{% block content %}

<h1 style="font-family: Georgia; margin-bottom:30px" align="center">Comments</h1>

<table align="center" class="table table-bordered table-striped" style="width: 40%" border=10px>
        {% for comment in comments %}
        <tr>
            <td style="padding: 30px;">{{ comment.text }}</td>
            <td align="right" style="padding: 30px;">
            <form action="{% url 'delete_comment' book_id=book.id comment_id=comment.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
            </td>
        </tr>
        {% endfor %}
</table>

{% endblock content %}