{% extends "base.html" %}
{% load static %}


{% block sidenav %}
    {% for item in item_list %}
    <li>
       <a href="{{item.link}}">    {{ item.item }}</a>
    </li>
    {% endfor %}

{% endblock sidenav %}

{% block content %}

<h1 style="font-family: Georgia; margin-bottom:30px" align="center">Comments</h1>

<table align="center" class="table table-bordered table-striped" style="width: 20%" border="10px">

        {% for comment in comments %}

    <tr>
    <td>
            {{ comment.text }}
    </td>
    </tr>
        {% endfor %}
</table>

<!--<h1 align="center" style="font-family: Georgia;">Comments</h1>-->
<!--    <ul>-->
<!--        {% for comment in comments %}-->
<!--            <li>{{ comment.text }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->

{% endblock content %}