{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
     <li>
         <a href="{{ item.link }}"> {{ item.item }} </a>
     </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1  style="margin-bottom:50px; font-family: Georgia;" align="center">This is Post Book Page</h1>
{% if submitted %}
   <h5 align="center" style="color:green">
       Post Book Successfully!
   </h5>
{% else %}

<form action="" enctype="multipart/form-data" method="post" novalidate>
    <table align="center" cellpadding="10px" style="background-color: #F0EAE8; width: 40%;
    border-radius: 10px">
        {{ form.as_table }}
        <tr>
            <td>
                <input type="submit" value="Submit" class="btn btn-primary btn-sm">
            </td>
        </tr>
    </table>
    {% csrf_token %}
</form>
{% endif %}
{% endblock content %}